@tailwind base;
@tailwind components;
@tailwind utilities;

.product-card {
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 300px;
  margin: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-details {
  padding: 1rem;
}

.product-title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.product-price {
  font-size: 24px;
  color: #2b6cb0;
}
.product-description {
  text-align: justify;
}
.user-card {
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 300px;
  margin: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
